<header>
    <div class="container-fluid">
        <div class="row">
            <div class=" col-sm-3 col-xs-12 header-logo">
                <img src="../../assets/img/logo.png" class="img-fluid" />
            </div>
            <div class=" col-sm-3 offset-3 col-xs-12 header-info">
                <p>Want to know about Education in <span>Canada?</span></p>
            </div>
            <div class=" col-sm-3 col-xs-12 header-contact">
                <div class="row">
                    <div class="col-2">
                        <i-feather name="phone" class="header-call-icon"></i-feather>
                    </div>
                    <div class="col-10">
                        <p>For Detailed Information</p>
                        <p><b>+91 88270 35088</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

