$base-color: #F57F22;
header {
    padding: 10px 0;
    position: relative;
    vertical-align: middle;
}
.header-logo {
    padding-left: 50px;
}
.header-info {
    p{
        font-family: "Montserrat";
        padding: 25px 0;
        color: #000;
        margin: 0;
        text-align: right;
        

        span{
            letter-spacing: 0px;
            color: $base-color;
            font-weight: bold !important;
        }
    }
}
.header-contact{
    .col-2{
        text-align: center;
        padding: 20px 0;
        background: linear-gradient(75deg, #FFF 0%, #fff 25%, #f57f22 25%, #f57f22 100%);
        color: #fff;
    }
    .col-10{
        background: $base-color;
        padding: 14px 0;
        color:#fff;
        p {
            font-family: Montserrat;
            
            margin: 0;
            text-align: left;
        }
    }
}