footer{
    h6.footer-heading {
        font-size: 20px;
        margin-bottom: 25px;
    }
    padding: 20px 0 0;
    background: #000;
    color: #e6e6e6;
    font-family: "Montserrat";
    .footer-social {
        text-align: center;
    }
    address {
        font-size: 14px;
    }
    span.mobile-footer {
        display: block;
        margin-top: 36px;
        font-size: 14px;
    }
    a{
        font-size: 14px;
    }
    ul.footer-list {
        padding: 0;
        list-style: none;
        a{
            color: #e6e6e6;
        }
    }
    .row.footer-copy {
        border-top: 1px solid lightgray;
        padding: 15px 0;
        font-size: 14px;
        p{
            margin-bottom: 0;
        }
    }
}
.whatsapp-link {
    position: fixed;
    bottom: 85px;
    z-index: 1000;
    right: 22px;
    width: 45px;
    border-radius: 100px;
    cursor: pointer;
    img{
        border-radius: 100%;
    }
    small {
        color: lightgray;
        font-size: 9px;
    }
}