<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="../../assets/img/logo.png" class="img-fluid" />
                <div class="row footer-social mt-2">
                    <div class="col-2 offset-3 pr-0 pl-0">
                        <i-feather name="facebook" class="text-primary"></i-feather>
                    </div>
                    <div class="col-2 pr-0 pl-0">
                        <i-feather name="instagram" class="text-primary"></i-feather>
                    </div>
                    <div class="col-2 pr-0 pl-0">
                        <i-feather name="youtube" class="text-primary"></i-feather>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h6 class="footer-heading">Contact</h6>
                <address>
                    Office No. 306. Princess Business<br />
                    Skypark Opp. C-21 Mail, AB Rd. <br />
                    Indore, Madhya Pradesh, India-<br />
                    452010
                </address>
                <a href="#">View Map -></a>
                <span class="mobile-footer">
                    M.83056 91168
                </span>
            </div>
            <div class="col-md-3">
                <h6 class="footer-heading">Abroad Study</h6>
                <ul class="footer-list">
                    <li>
                        <a href="#">
                            Study in Australia
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Study in Canada
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Study in Germany
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Study in Ireland
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Study in Italy
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Study in Netherlands
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Study in UK
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Study in USA
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="col-md-3">
                <h6 class="footer-heading">Abroad Study Euro</h6>
                <ul class="footer-list">
                    <li>
                        <a href="#">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Gallery
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Uiversities
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Courses
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Contact us
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row footer-copy">
            <div class="col-12">
                <p>&copy; 2020. Study Euros. All right reserved</p>
            </div>
        </div>
    </div>
</footer>

<div class="whatsapp-link">
    <img src="../../assets/img/whatsapp.png" class="img-fluid" data-toggle="tooltip" data-placement="bottom" title="Whatsapp Chat" />
    <small>Get Button</small>
</div>
