<section class="banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 offset-sm-3">
                <ul class="bannerlist">
                    <li>
                        <i-feather name="check-square"></i-feather>
                        <span>Post Study Work Visa up to 3 years</span>
                    </li>
                    <li>
                        <i-feather name="check-square"></i-feather>
                        <span>Easy stay back option</span>
                    </li>
                    <li>
                        <i-feather name="check-square"></i-feather>
                        <span>Industry Linked Job Oriented Courses Curriculum</span>
                    </li>
                    <li>
                        <i-feather name="check-square"></i-feather>
                        <span>Economically Stable and Multicultural Country</span>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="box">
                    <div class="box-header bg-primary">
                        <h5>Interested in Canada Education</h5>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-12">
                                <form>
                                    <div class="form-group">
                                      <input type="text" class="form-control" id="name"  placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                    <input type="tel" class="form-control" id="mobile"  placeholder="Mobile number">
                                    </div>
                                    <div class="form-group">
                                    <input type="email" class="form-control" id="email"  placeholder="Email address">
                                    </div>
                                    <div class="form-group">
                                    <input type="text" class="form-control" id="city"  placeholder="Your city">
                                    </div>
                                    <button type="submit" class="btn btn-submit btn-round">RECIEVE A CALL</button>
                                </form>
                            </div>
                        </div>
                        <div class="row form-footer">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 pr-0">
                                        <img src="../../assets/img/Couselling.png" class="img-fluid" />
                                    </div>
                                    <div class="col-8">
                                        <p>Free<br /> Couselling</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 pr-0">
                                        <img src="../../assets/img/Student.png" class="img-fluid" />
                                    </div>
                                    <div class="col-8">
                                        <p>500+ Students <br /> Recruited</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="online-councelling-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="councelling-header">Benefits from our Free Online Couselling</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="online-box">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 pr-0">
                            <img src="../../assets/img/online-1.png" class="img-fluid img-circle" />
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <div class="online-box-body">
                                <p>Live interaction with Canada<br /> Admission Expert</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="online-box">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 pr-0">
                            <img src="../../assets/img/online-2.png" class="img-fluid img-circle" />
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <div class="online-box-body">
                                <p>Detailed information on Courses,<br /> Applications and Visa Processes</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="online-box">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 pr-0">
                            <img src="../../assets/img/online-3.png" class="img-fluid img-circle" />
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <div class="online-box-body">
                                <p>Connect via Laptops / <br />Smartphones</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="online-box">
                    <div class="row">
                        <div class="col-sm-3 col-xs-12 pr-0">
                            <img src="../../assets/img/online-4.png" class="img-fluid img-circle" />
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <div class="online-box-body">
                                <p>Hassle free Joining - Zoom/Google<br /> Meet</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="banner-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5 offset-sm-5 col-xs-12">
                <h3 class="banner2-headeline">Takeaways from the counselling session</h3>
                <ul class="bannerlist">
                    <li>
                        <i-feather name="check-square"></i-feather>
                        <span>Information on Applications and Visa Processes in Top Canadian Institutes</span>
                    </li>
                    <li>
                        <i-feather name="check-square"></i-feather>
                        <span>Know about cost effective course options</span>
                    </li>
                    <li>
                        <i-feather name="check-square"></i-feather>
                        <span>Visa updates for upcoming intakes</span>
                    </li>
                    <li>
                        <i-feather name="check-square"></i-feather>
                        <span>Types of programs in Canada</span>
                    </li>
                    <li>
                        <i-feather name="check-square"></i-feather>
                        <span>Overview on a post-study work visa</span>
                    </li>
                    <li>
                        <i-feather name="check-square"></i-feather>
                        <span>Information on ample Part Time and Full Time Job Opportunities</span>
                    </li>
                    <li>
                        <i-feather name="check-square"></i-feather>
                        <span>Information on different short term Diploma and Certificate Programs</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="expertise-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="expertice-header">Our Expertise</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-xs-6 pr-0">
                <div class="box box-1">
                    <img src="../../assets/img/experience-1.png" class="ex-img" />
                    <h6>Access to Top Universities</h6>
                </div>
            </div>
            <div class="col-4 col-xs-6 pr-0 pl-0">
                <div class="box box-2">
                    <img src="../../assets/img/experience-2.png" class="ex-img" />
                    <h6>Test Preparation</h6>
                </div>
            </div>
            <div class="col-4 col-xs-6 pl-0">
                <div class="box box-3">
                    <img src="../../assets/img/experience-3.png" class="ex-img" />
                    <h6>Success Assured</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-xs-6 pr-0">
                <div class="box box-4">
                    <img src="../../assets/img/experience-4.png" class="ex-img" />
                    <h6>Bespoke Quality Services</h6>
                </div>
            </div>
            <div class="col-4 col-xs-6 pl-0 pr-0">
                <div class="box box-5">
                    <img src="../../assets/img/experience-5.png" class="ex-img" />
                    <h6>100% Students Satisfaction</h6>
                </div>
            </div>
            <div class="col-4 col-xs-6 pl-0">
                <div class="box box-6">
                    <img src="../../assets/img/experience-6.png" class="ex-img" />
                    <h6>Team of Experts</h6>
                </div>
            </div>
        </div>
        
    </div>
</section>
