section.banner {
    background: url("../../assets/img/banner.png");
    font-family: "Montserrat";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 50px 100px;
    .bannerlist {
        padding: 0;
        padding-top: 125px !important;
        margin: 0;
            li {
            color: #fff;
            font-size: 26px;
            margin-bottom: 15px;
            list-style: none;
            span {
                padding-left: 10px;
            }
        }
    }
    .box {
        background: #fff;
        .box-body {
            padding: 15px;
        }
        h5 {
            margin: 0 auto;
            text-align: center;
            color: #fff;
            padding: 15px 0;
            font-size: 18px;
        }
        .box-body{
            .form-group {
                margin-bottom: 1.3rem;
            }
            .form-control {
                background: #EFEFEF 0% 0% no-repeat padding-box;
                border-radius: 4px;
                border: 0;
                font-size: 12px;
            }
            .btn-submit {
                background: linear-gradient(180deg, #F57F22 0%, #DF6C12 100%) 0% 0% no-repeat padding-box;
                color: #fff;
                border-radius: 20px;
                margin-bottom: 25px;
                font-size: 12px;
                padding: 10px 20px;
            }
            .form-footer{
                p {
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 20px;
                    margin-bottom: 0;
                }  
            } 
        }
    }
}
.online-councelling-section{
    padding-bottom: 50px;
    font-family: "Montserrat";
    h3.councelling-header {
        color: #1C1B1B;
        text-align: center;
        font-weight: 600;
        margin: 65px auto;
        font-size: 30px;
    }
    .online-box {
        box-shadow: 0 0 6px #00000029;
        border-top-left-radius: 55px;
        padding: 2px;
        border-bottom-left-radius: 55px;
        margin-bottom: 30px;
        
        .online-box-body {
            padding: 25px 0;
            p {
                font-size: 18px;
                margin: 0;
                font-weight: 600;
                line-height: 32px;
            }
        }
    }
}
.banner-2{
    background-image: url("../../assets/img/sub-banner.png");
    background-color:#2E3791;
    font-family: "Montserrat";
    background-repeat: no-repeat;
    padding:50px 0;
    background-size: 37%;
    max-height: 430px;
    .banner2-headeline{
        font-size: 30px;
        color: #fff;
        margin-bottom: 20px;
    }
    .bannerlist {
        padding:0;
        margin: 0;
            li {
                color: #fff;
                font-size: 15px;
                margin-bottom: 15px;
                list-style: none;
            span {
                padding-left: 15px;
            }
        }
    }

}
.expertise-section{
    padding-bottom: 50px;
    font-family: "Montserrat";
    h3.expertice-header {
        color: #1C1B1B;
        text-align: center;
        font-weight: 600;
        margin: 65px auto;
        font-size: 30px;
    }
    .col-4 {
        text-align: center;    
        margin-top: 15px;
        img.ex-img {
            width: 75px;
            height: 75px;
        }
        h6 {
            margin: 10px 0;
            font-weight: 600;
        }
    }
    .box {
        padding: 60px 0px;
        position:relative;
    }
    .box-1:after,.box-2:after,.box-4:after,.box-5:after {
        content: "";
        position: absolute;
        right: 0;
        background: lightgray;
        top: 18px;
        bottom: 30px;
        width: 1px;
    }
    .box-1:before,.box-2:before,.box-3:before {
        content: "";
        position: absolute;
        bottom: 0;
        background: lightgray;
        right: 35px;
        height: 1px;
        left: 35px;
    }
}
@media(max-width:460px){
    .banner-2{
        background-image: none;
        max-height:100%;
    }
}